{% extends 'layout.html.twig' %}
{% block title %}Login{% endblock %}
{% block body %}
    <div class="example-wrapper">
        <h1>Login! ✅</h1>
        <form action="{{ path('app.login.login') }}" method="POST">
            <input type="email" name="email" />
            <input type="password" name="password" />
            <button type="submit">Enter</button>
        </form>
    </div>
{% endblock %}